body {
    background-color: #f1d79e;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    margin: 0;
}


.encabezado-pagina {
    background-color: #ff0000;
    background-image: url("https://www.teleadhesivo.com/es/img/mrs39-png/folder/products-detalle-png/pegatinas-coches-motos-espana---escudo-de-futbol.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    height: 120px;
    border: 2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado-pagina h1 {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}


.ajuste-descripcion {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.descripcion {
    text-align: justify;
    margin: 20px 0;
    line-height: 1.6;
    font-size: 1.5rem;
}

.titulo-lista {
    text-align: center;
    text-decoration: underline; 
    font-size: 2rem;
    margin-bottom: 30px;
}


.encuadre-estadios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 100px;
}


.vi単eta-estadio {
    background-color: white;
    border: 2px solid black; 
    padding: 15px;
    display: flex;
    flex-direction: column; 
}


.encabezado-vi単eta {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}

.encabezado-vi単eta h2 {
    font-size: 1.5rem;
    margin: 0;
}

.encabezado-vi単eta p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.logo {
    height: 60px;
    width: 60px;
}


.imagen-estadio {
    width: 100%; 
    height: 50%; 
    object-fit: contain; 
}


.informacion-estadios {
    padding: 10px 0;
    margin-top: auto; 
    display: flex;
    flex-direction: column;
}

.informacion-estadios ul {
    list-style-type:disc; 
    padding: 10px;
    margin: 15px;
    font-size: 1rem;
    line-height: 1.7;
}

.mas {
    background-color: #f1d79e; 
    color: black; 
    padding: 5px 10px;
    text-decoration: none;
    align-self: flex-end; 
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 4px;
}

a:visited {
    color: red;
}

a:active {
    color: black;
}